/* AWAL JUMBOTRON */
/* .jumbotron {
    background-image: url(slider1.jpg);
    background-size: cover;
    height: 780px;
    text-align: center;
    margin-top: -120px;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 200px;
}
.jumbotron p {
    color: white;
    font-size: 25px;
}

.jumbotron hr {
    border-color: white;
    width: 70px;
    border-width: 3px;
}

.jumbotron .btn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 40px; 
} */
/* AKHIR JUMBOTRON */

/* AWAL SLIDER */
.carousel-item {
    height: 650px;
    background-size: cover;
}

.carousel-item .display-4 {
    margin-top: -400px;
}

.fa-youtube {
    color: red;
}

/* .fa-facebook {
    color: blue;
} */

